/* App.css (Global styles) */
body {
  font-family: Arial, sans-serif;
  background-color: #e8e8e8;  /* Global background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}
